$primary-color: #062155;
$secondary-color: #2275c3;

$color-blue-1: #264478;
$color-blue-2: #062155;
$color-blue-3: #2275C3;
$color-blue-4: #47B3FE;
$color-blue-5: #062155;
$color-grey-1: #efefef;
$color-grey-2: #F7F7F7;
$color-grey-3: #707070;
$color-white: #fff;
$color-cyan-1: #def4f2;
$color-cyan-2: #E8F8FF;
$color-cyan-3: #E8FFFD;
$color-pink-1: #FFEFEF;

