@import './components/buttons';
@import './base/typography';
@import './components/HeroCarousel';
@import './pages/news';

body {
  font-family: Proxima, sans-serif;
}

body,
html {
  scroll-behavior: smooth;
}

button:focus {
  outline: none;
}

.blog-slider .slick-list {
  margin-left: -20px;
  margin-right: -20px;
}

.home-hero-wrapper .slick-dots li {
  button::before {
    font-size: 8px;
  }

  &.slick-active button::before {
    color: #2275c3;
    opacity: 1;
  }
}

// Tab slider transition
.tr-slide-leave-active,
.tr-slide-enter-active {
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.tr-slide-enter,
.tr-slide-leave-to {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 20px;
}

.tr-slide-enter {
  transform: translateX(-100%);
}
.tr-slide-leave-to {
  transform: translateX(100%);
}
.gm-style .gm-style-iw-c {
  border-radius: 5px !important;
  top: -115px !important;
}

/* disable the below small triangle/anchor */
.gm-style .gm-style-iw-t::after {
  display: none !important;
}
// .gm-style-iw button {
//   display: none !important;
// }
.gm-ui-hover-effect {
  display: none !important;
}
